* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  background-color: rgb(113, 113, 221);
}
.container {
  margin: 70px auto;
  min-height: 50vh;
  min-width: 50vw;
  text-align: center;
  color: black;
}

.right {
  position: absolute;
  right: 25%;
  top: 20%;
}
.lonlat {
  position: absolute;
  left: 30%;
  top: 55%;
}
.sun {
  position: absolute;
  top: 55%;
  right: 35%;
}
.date {
  position: absolute;
  top: 65%;
  left: 42%;
}
.changelocation {
  cursor: pointer;
  font-size: 25px;
}
.editlocation {
  border: 2px solid black;
  height: 150px;
  width: 250px;
  display: none;
  position: absolute;
  top: 25%;
  left: 40%;
}
input {
  margin: 20px 0px;
  width: 220px;
  height: 30px;
}
button {
  background-color: rgb(48, 170, 48);
  border: none;
  padding: 8px;
  margin: 5px;
  cursor: pointer;
}
.hide {
  display: block;
}
.haze {
  background-image: url(./images/haze.jpg);
}
.clear {
  background-image: url(./images/clear.jpg);
}
.cloudy {
  background-image: url(./images/cloudy.jpg);
}
