.air,
.sun {
  border: 2px solid black;
  width: fit-content;
  border-radius: 10px;
  padding: 6px;
  margin: 10px auto;
}
.air-content {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  gap: 5px;
  margin: 10px;
  text-align: center;
}
.sun {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
p {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .air-content {
    grid-template-columns: repeat(2, 100px);
    border: none;
    outline: none;
    margin: 10px;
  }
  .air-content p {
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(3, 20px);
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    filter: blur(1);
  }
  p {
    font-size: 15px;
    font-weight: bold;
  }

  .air {
    border: none;
    text-align: center;
    margin: 10px auto;
  }
} /* Medium devices (tablets, 601px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  .air,
  .sun {
    border: 2px solid black;
  }
  .air-content p,
  .sun p {
    border: none;
  }
  .air-content {
    grid-template-columns: repeat(2, 200px);
    /* Slightly larger content grid */
  }

  p {
    font-size: 16px;
  }
  .sun p,
  .air p {
    font-size: 20px;
  }
}
/* Extra large devices */
@media (min-width: 1440px) {
  .air-content {
    grid-template-columns: repeat(2, 250px); /* Even larger content grid */
  }

  p {
    font-size: 18px; /* Larger text for extra large screens */
  }
  .sun p,
  .air p {
    font-size: 16px;
    margin: 8px;
  }
}
/*Large devices*/
@media (min-width: 1025px) {
  .air-content {
    grid-template-columns: repeat(2, 250px); /* Larger content grid */
  }

  p {
    font-size: 18px; /* Larger text for desktop */
  }
}
